/*COPY css trang chủ*/
/* NAVBAR */
.navbar {
    background: #4b2e1e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: #fff;
        transition: 0.3s;
    }

        .navbar .nav-link:hover {
            color: #ffd17b;
        }

        .navbar .nav-link.active {
            font-weight: 700;
            text-decoration: underline;
            text-underline-offset: 4px;
        }
/*giỏ hàng ne*/
.btn-light {
    background-color: #4b2e1e; /* nâu Cocoon */
    color: #fff; /* icon màu trắng */
    border: none;
}

    .btn-light:hover {
        background-color: #6b3e2a; /* nâu sáng hơn khi hover */
        color: #fff;
    }

html, body {
    height: 100%; /* Chiếm toàn bộ chiều cao màn hình */
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Đẩy footer xuống đáy */
}

footer {
    background: #7b4a31; /* nâu nhạt hơn */
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    margin-top: 40px;
}
